* {
	font-family: 'Montserrat', sans-serif;
	color: #000000;
}

#nav {
	backdrop-filter: blur(5px);
}

/* LANDING BUTTONS */
#CV {
	padding: 8px 24px;
	gap: 8px;
	background: #000000;
	border-radius: 999px;
	font-family: 'Montserrat';
	font-style: normal;
	text-align: center;
}

#know {
	padding: 8px 24px;
	gap: 8px;
	background: #000000;
	border-radius: 999px;
	font-family: 'Montserrat';
	font-style: normal;
	text-align: center;
}
/* LANDING BUTTONS END */


/*About me*/
#para1 {
	text-indent: 2em;
}